@tailwind base;
@tailwind components;
@tailwind utilities;

/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
div::-webkit-scrollbar-track {
  background: #171717;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff24;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes colorSwitch {
  0% {
    border-color: #00b8a3;
  }
  100% {
    border-color: #262626;
  }
}

.blinkBorder {
  animation: colorSwitch 1s linear infinite alternate;
  color: #00b8a3;
}
